{{$page := .Site.GetPage (.Get 0)}}
<article class="post-preview">
    <a href="{{ $page.Permalink }}">
        <h2 class="post-title">{{ $page.Title }}</h2>
        {{ if $page.Params.subtitle }}
        <h3 class="post-subtitle">
            {{ $page.Params.subtitle }}
        </h3>
        {{ end }}
        {{ if $page.Params.image }}
        <img src="{{ $page.Permalink }}{{ $page.Params.image }}" alt="{{ $page.Title }}" class="img-title" />
        {{ end }}
        {{ if $page.Params.video }}
        <video loop autoplay muted playsinline class="img-title">
            <source src="{{ $page.Params.video }}">
        </video>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" $page }}
    </p>
    <div class="post-entry">
        {{ if $page.Truncated }}
        {{ $page.Summary }}
        <a href="{{ $page.Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
        {{ else }}
        {{ $page.Content }}
        {{ end }}
    </div>

    {{ if $page.Params.tags }}
    <div class="blog-tags">
        {{ range $page.Params.tags }}
        <a href="{{ .Site.LanguagePrefix | absURL }}/tags/{{ $page | urlize }}/">{{ $page }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>
